.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img_left {
    float: left;
}


.img_right {
    float: right;
}

.container {
    width: 50%;
    margin: auto;
}