<!DOCTYPE html>
<html>
<head>
    <title>Form data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>User data</h1>
<p>Name: <%= fname %> </p>
<p>Surname: <%= lname %> </p>
<p>Birth year: <%= birth%> </p>
</body>
</html>
